
@import url('https://fonts.googleapis.com/css2?family=Itim&family=Montserrat&display=swap');


:root{
    --main-yellow : #ffcc29;
    --dark-yellow : #f58634;
    --output-bg : #FEF3C7;

    

}

body{
    margin: 0px;
    background-color: cornsilk;
    font-family: "Montserrat","Open Sans";
    
}

h3{
    font-family: "Montserrat","Open Sans";
}

textarea{
    display: block;
    width: 55%;
    height: 20vh;
    margin: auto;
    padding: 1rem;
    background-color:#FEF3C7;
}

#output-text{
    display: block;
    width: 55%;
    height: 20vh;
    margin: auto;
    padding: 1rem;
    border: 1px solid;
    background-color:#FEF3C7;
    
}

#btn-translate{
    margin: 2rem;
    text-align: center;
    padding: .7rem;
    border-radius: 1rem;
    border: 2px solid var(--dark-yellow);
    background-color:cornsilk;
    font-weight: bolder;
    letter-spacing: 1px;
    transition-duration: .5s;

}

#btn-translate:hover{
    background-color:var(--dark-yellow);
    color: white;
}

#btn-translate:focus{
    outline: 0px;
}

.header{
    background-color: var(--main-yellow);
    margin: 0px;
    padding: .5rem;
    text-align: center;
    color: white;
    margin-bottom: 1rem;
}

.header h1{
    font-family: "Itim","Cursive";
    color: var(--dark-yellow);
    font-size: 2.5rem;
}

.container-center{
    margin: auto;
    padding: 1rem;
    
}

.container-center h3{
    color: black;
    text-align: center;
    font-weight: bolder;
    margin: 1rem 0rem;
}

.footer{

    padding: 1rem;
    background-color:var(--main-yellow);
    
    
    
}

.footer div{
    width: 60%;
    text-align: center;
    margin: auto;
    color: white;
    font-weight: bolder;
    font-size: 1rem;
}

.footer a{
    text-decoration: none;
    color: black;
}

.footer a:hover{
    color: white;
}

.min-gif{
    padding: 1rem;
    text-align: center;
}

.min-gif img{
    height: 10rem;
    width: 10rem;
}
